*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#4b3f72;
    margin-bottom:20px;
}

input{
    width:72%;
    padding:12px;
    border:2px solid #667eea;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

input:focus{
    border-color:#ff6b6b;
    box-shadow:0 0 8px #ff6b6b;
}

button{
    padding:12px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

button{
    background:linear-gradient(to right,#00b09b,#96c93d);
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

ul{
    margin-top:20px;
    list-style:none;
}

li{
    background:linear-gradient(to right,#89f7fe,#66a6ff);
    color:#222;
    margin:12px 0;
    padding:12px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
}

li:hover{
    transform:translateX(5px);
}

.completed{
    text-decoration:line-through;
    color:#555;
    opacity:0.7;
}

.deleteBtn{
    background:linear-gradient(to right,#ff416c,#ff4b2b);
    padding:8px 12px;
    border:none;
    border-radius:6px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.deleteBtn:hover{
    transform:scale(1.1);
}

span{
    cursor:pointer;
    font-size:17px;
}

.input-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.input-box input{
    flex:1;
    padding:12px;
    border:2px solid #667eea;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.input-box button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:linear-gradient(to right,#00b09b,#96c93d);
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.input-box button:hover{
    transform:scale(1.05);
}